*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: flex;
    
    flex-direction: column;
    width: 100vw;
    background-color: darkred;

}

.box {
    flex: 1;
    border: 2px solid black;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.b3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.emoji {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-image: radial-gradient(
        #feca3e 58%,
        #ff8000 80%
    );
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 30px 30px 35px rbga(0,0,0,0.25);
    margin: 20px 0;
    animation: emojianimation 1s linear 0s infinite alternate;
   
}

@keyframes emojianimation {    
    from{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(-10deg);
    }
}




.circle{
    width: 40px;
    height: 55px;
    border-radius: 65%;
    background-color: #845C04;
    position: relative;
    left:65px;
    top:70px;
    
}

.circle2 {
    width: 40px;
    height: 55px;
    border-radius: 65%;
    background-color: #845C04;
    position: relative;
    left: 145px;
    top: 15px;
    
}

.mouth {
    height: 60px;
    width: 150px;
    background-color: #845C04;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 5px 5px 180px 180px;
    top: 40px;
    left: 0;
}

.tongue {
    height: 75px;
    width: 50px;
    position: relative;
    bottom: 10px;
    left: 100px;
    border-radius: 0 0 25px 25px;
    background-image: radial-gradient(
        #F39BBF 10%,
        #D15656 95%
     );
}

.emoji:hover > .tongue {
    opacity: 0;
}

.wrapper {
    display: flex;
    width: 90%;
    justify-content:space-around;
    
}
.square {
    height: 50px;
    width: 50px;
    background-color: black;
    margin-top: 25px;
    transition: background-color 3s;
}

.square:hover {
    background-color: red;
}

.square2 {
    width: 50px;
    height: 50px;
    background-color: #F39BBF;
    margin-top: 25px;
    transition: width 2s;
}

.square2:hover {
    width: 400px;
}

.square3 {
    width: 50px;
    height: 50px;
    background-color: #ff8000;
    margin-top: 25px;
    transition: height 2s, background-color 4s;
 
}

.square3:hover {
    height: 100px;
    background-color: aqua;
}

.square4 {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    margin-top: 25px;
    transform: rotate 2s background-color 2s;
}
.square4:hover {
    transform: rotate(45deg);
    background-color: yellow;
}


.squareA1 {
    width: 50px;
    height: 50px;
    background-color:black;
    position: relative;
    animation: myAnimation 1s linear 0s infinite forwards;
    margin-top: 25px;
    margin-bottom: 25px;
}

@keyframes myAnimation {    
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.squareA2 {
    width: 50px;
    height: 50px;
    background-color: pink;
    position: relative;
    margin-top:25px ;
    animation: animation2 1s linear 0s infinite forwards;
}

 @keyframes animation2 {
    0%   {background-color: pink;}
    25%  {background-color: purple;}
    50%  {background-color: pink;}
    75%  {background-color: purple;}
    100% {background-color: pink;}
 }

.squareA3 {
    width: 50px;
    height: 50px;
    background-color: #ff8000;
    position: relative;
    margin-top: 30px;
    animation: animation3 1s linear 0s infinite forwards;
}

 @keyframes animation3 {
    0%   {left: 0px;background-color: #ff8000;}
    25%  {left: 50px;background-color:#ff8000;}
    50%  {left: 100px;background-color: #ff8000;}
    75%  {left: 150px; background-color: #845C04;}
    100% {left: 200px;background-color: #845C04;}
 }

